.following-song-container {
	margin: 1rem 0;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.5rem;
}

.favourite-container {
	margin: 1rem 0;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.5rem;

	h4 {
		margin: 0.5rem 1rem;
	}
}
