.landing-header {
	background-image: url('/Assests/images/cover.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	color: #fff;
	aspect-ratio: 1.6;
	display: grid;
	place-items: center;

	.landing-header-text {
		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.5rem;
		}
	}

	.landing-header-btn {
		* {
			color: #fff;
			margin: 0 0.5rem;

			border: none;
			text-decoration: none;
			padding: 0.5rem 2rem;
		}

		*:active {
			border: noe;
		}
		.btn-signup {
			font-size: 1.2rem;
			background-color: #8ecae6;
			transition: 0.2s;
		}
		.btn-signup:hover {
			background: #8ecae6;
			transform: scale(1.1);
		}

		.btn-learn {
			background-color: #8ecae6;
			font-size: 1.2rem;
			transition: 0.2s;
		}
		.btn-learn:hover {
			background: #8ecae6;
			transform: scale(1.1);
		}
	}
}
.carousel-container {
	padding: 1rem;
	margin: 1rem auto;
	background-color: #fff;
	border-radius: 0.5rem;

	.carousel-card-img {
		width: 50%;
		padding: 0.5rem;
		margin: 0 0.5rem;
		img {
			border-radius: 0.5rem;
		}
	}

	.carousel-card-text {
		width: 50%;
		padding: 0.5rem;
		margin: 0 0.5rem;
		text-align: center;
		.carousel-btn {
			border: none;
			text-decoration: none;
			text-align: center;
			padding: 0.5rem 1.5rem;
			background-color: $primary_colour;
			color: #fff;
			border: 00.5rem;
		}
	}

	@media only screen and (max-width: 768px) {
		.carousel-card-img {
			display: none;
		}
		.carousel-card-text {
			width: 100%;
			height: 15rem;
		}
	}
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
	filter: invert(100%);
	width: 5%;
}

.main-nav {
	background-color: $scrollbar-background !important;

	* {
		color: $text-colour !important;
	}
}

.link {
	color: $primary_colour;
}

.text-primary-colour {
	color: $text-colour;
}

.home-container {
	.featured-artist {
		background-color: #fff;
		border-radius: 0.5rem;
		margin: 1rem 0;
		padding: 1rem;

		h4 {
			margin: 0 1rem;
		}
		.fArtist-card {
			margin: 1rem;
			display: grid;
			grid-template-columns: auto minmax(200px, 30%);

			.fArtist-card-left {
				.text-name {
					font-size: 2rem;
					margin: 0.4rem 0 0.4rem 0.8rem;
				}

				.text-username {
					font-size: 1.3rem;
					margin: 0.4rem 0 0.4rem 0.8rem;
				}
				.fArtist-playlist-card {
					.playlist-card {
						.playlist-card-img {
							border-radius: 0.5rem;
							margin: 0.5rem 1rem;
						}
					}
				}
			}

			.fArtist-card-img {
				img {
					border-radius: 0.5rem;
				}
			}
		}
	}

	.featured-playlist {
		background-color: #fff;
		border-radius: 0.5rem;
		margin: 1rem 0;
	}
}

.default-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	display: grid;
	place-items: center;

	.default-btn {
		background-color: $primary-colour;
		padding: 0.5rem 2rem;
		color: #fff;
		border-radius: 4rem;
	}
}

.notfound-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	display: grid;
	place-items: center;
	.notfound-second-container {
		width: 20rem;
		height: 20rem;

		.default-btn {
			background-color: $primary-colour;
			padding: 0.5rem 2rem;
			color: #fff;
			border-radius: 4rem;
		}
	}
}
