.customPlayer-container {
	margin-top: 1rem;
	padding: 1.875rem;
	background-color: $sidebar-background;
	border-radius: 0.75rem;

	.customPlayer-header {
		margin: 1.125rem 0;
		position: relative;

		* {
			display: inline-block;
			margin: 0 0.625rem;
		}
		.customPlayer-header-bars {
			position: absolute;
			top: 0.625rem;
			left: 1rem;
			font-size: 1.5rem;
		}
	}

	.customPlayer-songImg {
		border-radius: 50%;
		width: 12.5rem;
		height: 12.5rem;
	}

	.customPlayer-controls {
		margin: 1.125rem;

		.main-controls {
			margin: 0 2rem;
			* {
				margin: 0 0.3rem;
			}
		}
	}

	.playlist-container {
		height: 28rem;
		overflow: auto;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			margin: 0.5rem 0;
			padding: 0.5rem;
			cursor: pointer;
			border-radius: 0.5rem;
		}
		li:hover {
			background-color: $hover-background;
		}
		.playlist-songImg {
			border-radius: 10%;
		}
		.playlist-songDetail {
			margin: auto 1rem;

			div {
				margin: 0.2rem 0;
			}
		}

		.playlist-icon {
			margin: auto 1rem;
		}
	}
}

.interaction-bar {
	margin: 0.5rem 0;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	background-color: $sidebar-background;
	border-radius: 0.5rem;

	.interaction-bar-like {
		background-color: $sidebar-background;
		font-size: 1.5rem;
		font-weight: bold;
		color: $like-colour;
		padding: 0.75rem;
		border: none;
		outline: none;
	}

	.interaction-bar-likeCount {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 1rem 0 0;
	}

	.intraction-bar-btn {
		background-color: $secondary-colour;
		color: #fff;
		padding: 0.6rem;
		margin: 0.75rem 1rem;
		border: none;
		outline: none;
		// font-size: 1.5rem;
		border-radius: 0.5rem;

		span {
			margin-left: 0.8rem;
			color: #fff;
			font-weight: 600;
		}
	}
}

.post-comment {
	background-color: #fff;
	border-radius: 0.5rem;
	* {
		margin: 0.5rem;
	}
	.post-comment-img {
		img {
			border-radius: 0.5rem;
		}
	}

	.post-comment-btn {
		background-color: $secondary-colour;
		color: #fff;
		padding: 0.5rem;
		// margin: 0.75rem 1rem;
		border: none;
		outline: none;
		border-radius: 0.5rem;

		span {
			// padding: 0.8rem;
			color: #fff;
			font-weight: 400;
		}
	}
}

.song-comments {
	background-color: #fff;
	margin: 0.5rem 0;
	padding: 1rem;
	border-radius: 0.5rem;

	.song-comments-title {
		padding: 1rem;
		color: $text-colour;
	}

	.song-comment {
		padding: 0.5rem 1rem;

		.song-comment-img {
			border-radius: 0.5rem;
			margin: 0.5rem 0.5rem 0 0;
		}

		.song-comment-details {
			margin: 0 0 0 1rem;
		}

		.song-comment-edit {
			margin: 1rem 1rem;
			padding: 0.2rem 0.5rem;
		}

		.song-comment-delete {
			margin: 1rem 1rem;
			padding: 0.2rem 0.5rem;
		}
	}

	.song-no-comments {
		padding: 1rem;
	}
}

.playlistDetail-container {
	.playlistDetail-header {
		background: rgb(128, 134, 146);
		background: linear-gradient(90deg, rgba(128, 134, 146, 1) 0%, rgba(164, 171, 187, 1) 100%);

		margin: 0.5rem 0;
		padding: 1.5rem;
		border-radius: 0.5rem;

		.header-info {
			margin: 1rem;
			position: relative;
			.header-button {
				position: absolute;
				padding: 0.5rem 1.5rem;
				margin: 0;
				top: -1rem;
				right: 1em;
				background-color: #1db954;
				border-radius: 2rem;
				box-shadow: none;
				border: none;
				font-weight: 600;
				transition: transform 0.2s;

				.header-icon {
					margin: 0 0.2rem;
				}
			}
			.header-button:hover {
				transform: scale(1.1);
				text-decoration: none;
			}
			* {
				color: #fff;
			}
			.header-title {
				margin: 2rem 0 -0.5rem 0.5rem;
				padding: 0;
				font-weight: 700;
			}
			.header-name {
				margin: 0 0 0rem 0.5rem;
				padding: 0;
				font-weight: 700;
				font-size: 2.7rem;
			}
			.header-username {
				margin: 0 0 0 0.5rem;
				padding: 0;
				font-weight: 600;
			}
		}
	}

	.playlistDetail-table {
		background-color: #fff;
		margin: 1rem 0;
		padding: 2rem 1.5rem 1rem 1.5rem;
	}
}
.rhap_container {
	background-color: $sidebar-background !important;
	box-shadow: none !important;
}

.rhap_play-pause-button {
	color: $primary-colour !important;
}

// .rhap_progress-bar {
// 	color: $primary-colour !important;
// }

.rhap_progress-indicator {
	background: $primary-colour !important;
}

.rhap_progress-filled {
	background-color: $primary-colour !important;
}

.rhap_volume-indicator {
	// background: $primary-colour !important;

	&:hover {
		background-color: $primary-colour !important;
	}
}
.rhap_volume-button {
	&:hover {
		color: $primary-colour;
	}
}
