.customPlayer-container {
	margin: 2rem;
	padding: 1.875rem;
	background-color: $sidebar-background;
	border-radius: 0.75rem;

	.customPlayer-header {
		margin: 1.125rem 0;

		* {
			display: inline-block;
			margin: 0 0.625rem;
		}
	}

	.customPlayer-songImg {
		border-radius: 50%;
		width: 12.5rem;
		height: 12.5rem;
	}

	.customPlayer-controls {
		margin: 1.125rem;

		.main-controls {
			margin: 0 2rem;
			* {
				margin: 0 0.3rem;
			}
		}
	}
}
