.profile-header {
	.profile-name {
		font-size: 2.1em;
	}
	.profile-username {
		font-size: 1.5em;
	}
}

.changePassword-container {
	margin: 2rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: 0.5rem;
	h2 {
		text-align: center;
		margin: 1rem 0;
	}
}
