.sidebar-container {
	background-color: $sidebar-background;
	height: 100vh;
	padding: 2rem;

	.sidebar-header {
		margin: 0.875rem 0.5rem;
		font-size: 1rem;
		font-weight: 600;
	}

	.nav-item {
		.nav-link {
			.nav-icon {
				margin: 0 1.5rem 0 0.5rem;
			}
		}
	}
}
