.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	overflow: auto;
}
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}

.flex-container {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}

.btn-primary {
	background-color: $primary-colour;
	box-shadow: none;
	border: $primary-colour;
}

.btn-primary:hover {
	background-color: $primary-colour;
	box-shadow: none;
}

.btn-primary:active {
	background-color: $primary-colour;
	box-shadow: none;
	border: none;
}
