.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	overflow: auto;
}
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}

.flex-container {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}
