// $body-background: #f4f7fc;
$body-background: #f5f8fa;
$hover-background: #ededed;
$sidebar-background: #fff;

$primary-colour: #3738e8;
$secondary-colour: #ef9a82;

$text-colour: #323244;
$like-colour: #ff2069;
