$body-background: #dadde9;
$sidebar-background: #e8ecef;
$primary-colour: #3738e8;
$text-colour: #323244;

$rhap_theme-color: #333 !important;
$rhap_background-color: #333 !important;
$rhap_bar-color: #333 !important;
$rhap_time-color: #333 !important;
$rhap_font-family: inherit !important;
