// $body-background: #f4f7fc;
$body-background: #f5f8fa;
// $body-background: #ededed;
$sidebar-background: #fff;
$primary-colour: #3738e8;
$text-colour: #323244;
$like-colour: #ff2069;
$secondary-colour: #ef9a82;

$rhap_theme-color: #333 !important;
$rhap_background-color: #333 !important;
$rhap_bar-color: #333 !important;
$rhap_time-color: #333 !important;
$rhap_font-family: inherit !important;
